@media(max-width: 768px) {
    .promo{
        &__header {
            font-size: 35px;
            text-align: left;
        }
    }
    .header {
        &__official {
            display: none;
        }
    }
    .advant {
        &__wrapper {
            justify-content: center;
        }
        &__item {
            width: 255px;
            &:nth-child(3) {
                margin-top: 20px;
            }
        }
    }
    .consultation {
        &__descr {
            line-height: 25px;
            margin-top: 20px;
        }
    }
    .title_left {
        font-size: 20px;
        line-height: 30px;
    }
}

@media(max-width: 576px) {
    .promo {
        &__wrapper {
            margin-top: 75px;
            align-items: flex-start;
        }
        &__header {
            text-align: left;
            font-size: 36px;
        }
        &__subheader {
            text-align: left;
            margin-top: 30px;
        }
        &__icons {
            width: 300px;
            font-size: 11px;
            display: flex;
            align-items: baseline;
        }
    }
    .header {
        align-items: flex-start;
        &__logo {
            img {
                width: 80%;
            }
        }
        &__phone {
            font-size: 17px;
        }
    }
    .advant {
        padding-top: 50px;
        &__wrapper {
            margin-top: 30px;
        }
        &__item {
            width: 272px;
            margin-top: 20px;
        }
    }
    .consultation {
        padding: 60px 0 90px 0;
        &__descr {
            font-size: 18px;
        }
    }
}
