.reviews {
    margin-bottom: 50px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }
    &__descr {
        width: 670px;
    }
    &__name {
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        color: #0D0D0D;
    }
    &__result {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #646464;
    }
    &__text {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #0D0D0D;
        margin-bottom: 10px;
        p {
            margin-bottom: 12px;
        }
    }
}